.firstdiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* overflow-y: auto; */
    font-family: 'Montserrat', sans-serif;
  }
  
  .main h6 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  .main h1 {
    margin: 20px 0 10px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  
  .main p {
    color: black;
    font-size: 14px;
    word-spacing: 2px;
    margin-bottom: 25px;
    /* text-shadow: 1px 1px 1px black; */
    font-family: 'Raleway', sans-serif;
  }
  
  .main h4,
  h2 {
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
  }
  
  .main span {
    color: #00b894;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
  
  }
  
  .main a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  
  }
  
  .header1 {
    font-size: 10px;
  }
  
  .main .btnone {
  
    /*background: #00b894;*/
    background: #00b894;
    color: #fff;
  
  
  }
  
  .btnone:hover {
    background: white;
    color: #00b894;
  }
  
  .main.btntwo {
    background: #00b894;
    color: white;
  
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 3s infinite linear;
    color: #00b894;
    transition: all 0.2s ease;
  }
  
  @keyframes changetext {
    0% {
      content: "IIT JEE";
    }
  
    100% {
      content: "NEET";
    }
  
  }
  
  .row {
    width: auto;
    height: auto;
    background-color: #fff;
    margin-top: 3%;
    padding: auto;
    overflow-x: hidden;
  }
  
  .about {
  
    width: 100%;
    height: auto;
    text-align: center;
    scroll-behavior: none;
    /* font-family: 'Raleway', sans-serif;
    font-weight: bold; */
  
  
  }
  
  .about h1 {
    margin: 10px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
  
  }
  
  .hr {
    list-style: dotted;
  }
  
  
  .image1 {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  
  
  .divse p {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 10%;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto Slab', serif;
  
  }
  
  .whychampionjee {
    height: auto;
    background-color: #22AFB4;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 1%;
    
  }
  
  .divs1{
  margin-top: 2%;
  }
  
  
  
  
  
  
  
  .coloum2 {
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 5%;
    border: solid black 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .heading h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  .heading li {
  
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
  }
  
  .row h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
  }
  
  #we {
    margin-top: 30px;
  }
  
  .feature2 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin-top: 25px;
  }
  
  .featurs {
    text-align: center;
    text-shadow: 2px 1px 5px rgb(228, 217, 217);
  
  }
  
  /* new thing */
  
  
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
  }
  
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  
  }
  
  
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .card__body h2 {
    font-family: 'Montserrat', sans-serif;
  }
  
  .card__body p {
    font-family: 'Roboto Slab', serif;
  }